body {
  font-family: Menlo, monospace;
  background: #2E3440;
  color: #D8DEE9;
  font-size: 14px;
}

main {
  margin: 48px auto;
  max-width: 900px;
}

h1, h2 {
  font-size: 1em;
  font-weight: 400;
}