body {
  font-family: system-ui;
  max-width: 720px;
  font-size: 16px;
  margin: 0 auto;
  padding: 24px;
  line-height: 1.4;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }
}

a {
  color: #2081cc;
  text-decoration: none;
}

a:hover {
  color: #175e95;
  text-decoration: underline;
}

a:visited {
  color: #9656a1;
}

a:visited:hover {
  color: #6e3d73;
}

img {
  max-width: 100%;
}

article time {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.6);
}

.landing ul {
  padding: 0;
  list-style: none;
}

.landing li {
  margin-bottom: 16px;
}

.landing li small {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 8px;
}

footer {
  margin-top: 48px;
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.875em;
}

footer ul {
  display: flex;
  gap: 16px;
  padding: 0;
  list-style: none;
}

footer a,
footer a:visited,
footer a:hover,
footer a:visited:hover {
  color: rgba(0, 0, 0, 0.6);
}

pre {
  background-color: #eee;
  padding: 8px 16px;
  overflow-x: auto;
  border: solid 1px #000;
  margin: 16px;
  font-size: 12px;
}

article img {
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.footnotes {
  font-size: 0.875em;
  margin-top: 32px;
  padding-top: 16px;
}

article p,
.footnotes li {
  line-height: 1.5;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

