nav ul, .contact {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 8px;
}

nav li:after {
  content: "|";
  margin-left: 8px;
}

nav li:last-child:after {
  content: ""
}

.contact li {
  margin-right: 16px;
}