body {
  font-family: system-ui;
  max-width: 720px;
  font-size: 16px;
  margin: 0 auto;
  padding: 24px;
  line-height: 1.4;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }
}

a {
  color: rgba(0, 0, 0, 0.8); 
}

a:visited {
  color: rgba(0, 0, 0, 0.8); 
}

a:hover {
  color: #000;
}

img {
  max-width: 100%;
}

article time {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.6);
}