.center {
  padding: 24px;
}

@media screen and (min-width: 768px) {
  .center {
    max-width: 640px;
    margin: 0 auto;w
  }
}

.list-style-none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floaty-list {
  display: flex;
}

.floaty-list li {
  margin-right: 8px;
}
